# Data processing and analysis
pandas
numpy

# Machine learning
scikit-learn
# tensorflow
xgboost
# lightgbm

# Data visualization
matplotlib
seaborn
plotly

# Jupyter notebooks
jupyter
ipykernel

# Deployment
streamlit
joblib
pillow
streamlit-echarts
streamlit-option-menu
streamlit-card
